@import "tailwindcss";


@theme {
    --color-bsj-navy: #0A1628;
    --color-bsj-blue: #1E40AF;
    --color-bsj-gold: #F59E0B;
    --color-bsj-light: #F8FAFC;
}

.main-nav {
    @apply hidden md:flex items-center space-x-8
}